body{
    text-align: center;
    font-family: trebuchet;
    margin:10px;
    padding:10px;
}
.c
{
   background-color: bisque;
   width: 800px;
   height:200px;
}
table
{
    border-collapse:collapse;
}
h2
{
    margin-left:0px;
}
h3
{
    background-color:lightgoldenrodyellow;
    margin:10%;
}

p
{
    font-family:  Arial;
    text-align: center;
    font-size: large;
    color: gray;
    text-decoration:underline;
}

.img1,.img3
{
 border:3px solid rgb(113, 113, 222) ;
 width: 250px;
 height: 250px;
 margin-left: 20px;
}
.img2
{
    border:3px solid rgba(245, 245, 111, 0.678);
    width: 250px;
    height: 250px;
    margin-left: 20px;
}
a:visited {
    color: black;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: blue;
  }
